@import './mixins/breakpoints';

$font-family-heading: 'Lato', sans-serif;
$font-family-titles: 'Josefin', sans-serif;
$font-family-body: OpenSans, 'Open Sans', sans-serif;
$font-size-small: 13px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-heading-small: 16px;
$font-size-heading-medium: 24px;
$font-size-heading-large: 30px;
$font-weight-normal: normal;
$font-weight-bold: 600;

$dicci-color-heading: #1a1818;
$dicci-color-secondary: #ccc;
$color-heading: #5c433d;
$color-body: #1a1818;
$color-primary: #000000;
$color-primary-hover: #555555;
$color-secondary: #f4efe1;
$color-error: red;
$color-label-default: #aaaaaa;
$color-label-primary: #337ab7;
$color-label-info: #5bc0de;
$color-label-success: #5cb85c;
$color-label-warning: #f0ad4e;
$color-label-error: #d9534f;
$color-label-dark: #000000;

$background-color-table-info: #d9edf7;
$background-color-table-success: #dff0d8;
$background-color-table-warning: #fcf8e3;
$background-color-table-error: #f2dede;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;
$pinterest-color: #cb2027;

$border-radius-default: 3px;

$layout-max-width: 1200px;
$drawer-width: 300px;
