@import '../../../styles/variables.scss';

.heading {
    font-family: $font-family-titles;
    color: rgba($color-body, 0.82);
    letter-spacing: 1.28px;
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
    span{
      font-family: $font-family-titles;
      color: rgba($color-body, 0.82);
      letter-spacing: 1.28px;
      font-size: 1.4rem;
      font-weight: 200;
      text-transform: uppercase;
    }

    // Size

    &-large {
        font-size: $font-size-heading-large;
    }

    &-medium {
        font-size: $font-size-heading-medium;
    }

    &-small {
        font-size: $font-size-heading-small;
    }

    &-dicci {
      color: white;
      font-size: 18px;
      font-weight: 400;
    }

    // Alignment

    &--align-left {
        text-align: left;
    }

    &--align-center {
        text-align: center;
    }

    &--align-right {
        text-align: right;
    }
}
