@import '../../../styles/variables.scss';

.heading {
    font-family: $font-family-heading;
    color: $color-body;

    // Size

    &-large {
        font-size: $font-size-heading-large;
    }

    &-medium {
        font-size: $font-size-heading-medium;
    }

    &-small {
        font-size: $font-size-heading-small;
    }

    &-dicci {
      color: white;
      font-size: 18px;
      font-weight: 400;
    }

    // Alignment

    &--align-left {
        text-align: left;
    }

    &--align-center {
        text-align: center;
    }

    &--align-right {
        text-align: right;
    }
}
