@import '../../../styles/mixins/breakpoints';
@import '../../../styles/variables.scss';



.homepage-featured-collection {
    width: 100%;
    text-align: center;
    padding-bottom: 1%;
}

.homepage-featured-collection__placeholder {
    border: 1px solid #eee;
    width: 100%;

    & > a {
        display: flex;
        justify-content: center;
        width: 100%;
        text-decoration: none;
        color: $color-primary;

        & > div {
            align-self: center;
        }
    }
}

.homepage-featured-collection__image {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  max-height: 450px;

  @include breakpoint(medium-screens) {
      //border-radius: 50%;
      &:hover {
          opacity: 0.7;
      }
  }

  @include breakpoint(wide-screens) {
      //border-radius: 50%;
      &:hover {
          opacity: 0.7;
      }
  }
}

.homepage-featured-collection__bottom {
  padding: 0 10%;
  text-align: left;
  padding-left: 3%;

  .box {
    color: black;
    border-top: 2px solid;
    padding-bottom: 1%;
  }
}
.collection-title {
  padding-top: 1%;
  font-weight: 400;
  letter-spacing: 1px;
}

.image-box {
  padding-top: 10%;

}
.box-label {
  align-self: center;
  width: 300px;
    border: 10px solid black;
    padding: 20px;
    margin: 25px;
}
