@import '../../../styles/mixins/breakpoints';
@import '../../../styles/variables.scss';



.homepage-featured-collection {
    width: 100%;
    max-height: 400px;
    text-align: center;
    padding-bottom: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    @include breakpoint(handhelds) {
      flex: 1 0 100%;
    }

    @include breakpoint(medium-screens) {
      flex: 1 0 50%;
    }

    .homepage-box-label {
      position: absolute;
      top: 60%;
      width: 40%;
      background: transparent;
      border: 2px solid white;
      padding: 10px 0;
      font-weight: 200;
      z-index: 3;
      color: white;
      text-decoration: none;
      font-family: $font-family-titles;
      letter-spacing: 1.1px;
      font-weight: 200;
      font-size: 16px;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
      background-color: rgba(20, 20, 20, 0.3);
      cursor: pointer;
      &:hover {
        background-color: rgba(255,255,255,0.85);
        color: opacify($color-body, 0.88);
      }

    }
    .homepage-collection-title {
      position: absolute;
      top: 45%;
      width: 40%;
      color: white;
      font-size: 20px;
      z-index: 3;
      padding: 7px 5px;
      background-color: rgba(20, 20, 20, 0.3);
      border-radius: 1px;
      text-decoration: none;
      font-family: $font-family-titles;
      letter-spacing: 1.28px;
      // font-weight: bold;
      text-transform: uppercase;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: rgba(255,255,255,0.85);
        color: opacify($color-body, 0.88);
      }
    }

}

.homepage-featured-collection__placeholder {
    // border: 1px solid #eee;
    width: 100%;

    & > a {
        display: flex;
        justify-content: center;
        width: 40%;
        text-decoration: none;
        color: white;
        font-size: 20px;
        z-index: 3;
        padding: 7px 5px;
        background-color: rgba(20, 20, 20, 0.3);
        border-radius: 1px;
        text-decoration: none;
        font-family: $font-family-titles;
        letter-spacing: 1.28px;
        // font-weight: bold;
        text-transform: uppercase;
        & > div {
            align-self: center;
        }
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        &:hover {
          background-color: rgba(100, 100, 100, 0.6);
        }
    }
}

.homepage-collection-title-dark {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  &:hover {
    color: rgba(20, 20, 20, 0.9);
    background-color: rgba(100, 100, 100, 0.6);
  }
}

.homepage-feature-collection__image-conatiner {
  flex: 1;
}

.homepage-featured-collection__image {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  @include breakpoint(medium-screens) {
      //border-radius: 50%;
      &:hover {
          opacity: 0.7;
      }
  }

  @include breakpoint(wide-screens) {
      //border-radius: 50%;
      &:hover {
          opacity: 0.7;
      }
  }
}

.homepage-featured-collection__bottom {
  padding: 0 10%;
  text-align: left;
  padding-left: 3%;
  align-self: center;
  .box {
    color: $color-body;
    border-top: 3px solid;
    padding-bottom: 1%;
  }
}
.collection-title {
  padding-top: 1%;
  font-weight: 400;
  letter-spacing: 1px;
}
