@import '../../../styles/mixins/breakpoints.scss';
@import '../../../styles/variables.scss';

.product-listing-search-page {
    margin-bottom: 10px;
}

/*
 * Header
 */

.product-listing-search-page__header {
    display: flex;

    @include breakpoint(handhelds) {
        flex-direction: column;
    }
}

// Breadcrumbs

.product-listing-search-page__breadcrumbs {
    display: flex;
    align-self: center;
    width: 100%;
}

// Sorting

.product-listing-search-page__sorting {
    width: 100%;
}

/*
 * Products
 */

.product-listing-search-page__products {
    margin-top: 30px;

    @include breakpoint(handhelds) {
        margin-top: 20px;
    }
}
