@import '../../../../styles/variables.scss';
//#1a1818
.desktop-header {
  .text{
    color:white;
  }
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  border-top: solid 1px white;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.desktop-header-bg-position {
  top: -65px;
}

.desktop-header-bg-visible {
  position: fixed;
  top: 0;
  background-color: $color-body;
  opacity: 0.8;
}

/*
 * Container
 */

.desktop-header__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $layout-max-width;
    padding: 10px 32px 10px 32px;
    @media only screen and (min-width: $layout-max-width) {
        padding-left: 0;
        padding-right: 0;
    }
}

.desktop-header__row {
    display: flex;
    width: 100%;

    &:not(:first-child) {
        margin-top: 7.5px;
    }
}

.desktop-header__container-left-column {
    display: flex;
    width: 100%;
}

.desktop-header__container-right-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 240px;
    align-self: center;
}

/*
 * Logo & Buttons
 */

.desktop-header__logo {
    width: 100%;
    min-width: 87px;
    max-width: 87px;
    z-index: 5;
    height: 30px;
    background: url('../../../../../static/diccilogo.png') no-repeat;
    background-size: contain;
    background-position: center;
    align-self: center;

}

.desktop-header__logo-link {
    align-self: center;
    z-index: 5;
}

.desktop-header__button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*
 * Navigation
 */

.desktop-header__navigation {
    align-self: center;
}

/*
 * Account & Cart
 */

.desktop-header__account {
    display: flex;
    align-self: center;
}

.desktop-header__admin-button,
.desktop-header__logout-button,
.desktop-header__register-button {

    align-self: center;
    padding: 10px;
    opacity: 0.95;
    border-bottom: 3px solid rgba(255,255,255,0);
    text-decoration: none;
    color: white;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    &:hover {
      border-bottom: 3px solid white;
    }
}


.desktop-header__login-button,
.desktop-header__account-button {
  display: flex;
  flex-direction: column;
  padding: 5px 25px;
  margin-left: 10px;
  border: 1px solid rgba(255,255,255,0.88);
  border-radius: 3px;
  opacity: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  text-decoration: none;
  color: white;
  &:hover {
    background-color: rgba(255, 255, 255, 0.88);
      color: opacify($color-body, 0.88);
    }
}


.desktop-header__cart {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  align-self: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-size: 100%;

  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;

  &:hover {
    opacity: 0.8;
  }
}
