@import '../../../../styles/variables.scss';
//#1a1818
.desktop-header {
  .text{
    color:white;
  }
  // background-color: #1a1818;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  border-top: solid 1px white;
  //border-bottom: solid 1px #eeeeee;
}

.desktop-header-background {
  background-color: #1a1818;
  top: -65px;
  position: fixed;
  width: 100%;
  height: 63px;
  opacity: 0;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  background-color: #1a1818;
}

.desktop-header-bg-visible {
  top: 0px;
  opacity: 0.8;
}

/*
 * Container
 */

.desktop-header__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $layout-max-width;
    padding: 10px 32px 10px 32px;
    @media only screen and (min-width: $layout-max-width) {
        padding-left: 0;
        padding-right: 0;
    }
}

.desktop-header__row {
    display: flex;
    width: 100%;

    &:not(:first-child) {
        margin-top: 7.5px;
    }
}

.desktop-header__container-left-column {
    display: flex;
    width: 100%;
}

.desktop-header__container-right-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 240px;
    align-self: center;
}

/*
 * Logo & Buttons
 */

.desktop-header__logo {
    width: 100%;
    min-width: 87px;
    max-width: 87px;
    z-index: 5;
    height: 30px;
    background: url('../../../../../static/diccilogo.png') no-repeat;
    background-size: contain;
    background-position: center;
    align-self: center;

}

.desktop-header__logo-link {
    align-self: center;
    z-index: 5;
}

.desktop-header__button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*
 * Navigation
 */

.desktop-header__navigation {
    align-self: center;
}

/*
 * Account & Cart
 */

.desktop-header__account {
    display: flex;
    align-self: center;
}

.desktop-header__logout-button,
.desktop-header__register-button {

    align-self: center;
    padding: 10px;

    a {
        text-decoration: none;
        opacity: 0.8;
        &:hover {
            span {
                color: grey;
            }
        }
    }
}

.desktop-header__login-button,
.desktop-header__account-button {
    padding: 5px 25px;
    margin-left: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;

        &:hover {
            span {
                color: grey;
            }
        }
    }
}

.desktop-header__cart {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  align-self: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-size: 100%;
}
