@import '../../../../styles/variables.scss';
.handhelds-header {
    display: flex;
    padding: 10px 25px;
    background-color: $color-body;
    border-bottom: solid 1px #eeeeee;
    .text{ color : white;}
}

/*
 * Left Actions
 */

.handhelds-header__left-actions {
    align-self: center;
    text-align: left;
    width: 20%;
}

/*
 * Logo
 */

.handhelds-header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 60%;
}

.handhelds-header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.handhelds-header__logo {

    width: 100%;
    min-width: 70px;
    max-width: 70px;
    height: 60px;
    background: url('../../../../../static/diccilogo.png') no-repeat;
    background-position: center;
    background-size: 100%;
}

/*
 * Right Actions
 */

.handhelds-header__right-actions {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 20%;
}

/*
 * Button Icons
 */

.handhelds-header__menu-button {
    width: 30px;
    height: 29px;
    cursor: pointer;
    background: url('./menu.png');
    background-size: 100%;
}

.handhelds-header__cart-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    cursor: pointer;
    // background: url('./cart.png');
    background-size: 100%;
}

.handhelds-header__close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url('./close.png');
    background-size: 100%;
}
